<div
  class="h-18 flex shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-xs tabket:gap-x-6 tabket:px-6 desktop:px-8"
>
  <button type="button" class="-m-2.5 p-2.5 text-gray-700 desktop:hidden">
    <span class="sr-only">Open sidebar</span>
    <div class="size-6">
      <i class="fa-light fa-bars fa-fw fa-lg"></i>
    </div>
  </button>

  <!-- Separator -->
  <div class="h-6 w-px bg-gray-900/10 desktop:hidden" aria-hidden="true"></div>

  <div class="flex flex-1 gap-x-4 self-stretch desktop:gap-x-6">
    <form class="grid flex-1 grid-cols-1" action="#" method="GET">
      <input
        type="search"
        name="search"
        aria-label="Search"
        class="col-start-1 row-start-1 block size-full bg-white pl-8 text-base text-gray-900 outline-hidden placeholder:text-gray-400 desktop:text-sm/6"
        placeholder="Search"
      />
      <div
        class="pointer-events-none col-start-1 row-start-1 size-6 self-center text-gray-400"
      >
        <i class="fa-light fa-search fa-fw fa-lg"></i>
      </div>
    </form>

    <div class="flex items-center gap-x-4 desktop:gap-x-6">
      <button
        type="button"
        class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500"
      >
        <span class="sr-only">View notifications</span>
        <div class="size-6">
          <i class="fa-light fa-bell fa-fw fa-lg"></i>
        </div>
      </button>

      <!-- Separator -->
      <div
        class="hidden desktop:block desktop:h-6 desktop:w-px desktop:bg-gray-900/10"
        aria-hidden="true"
      ></div>

      <!-- Profile dropdown -->
      @if(isLoggedIn$ | async) {
      <tt-dropdown>
        <ng-template #trigger>
          <button
            type="button"
            class="group -m-1.5 flex items-center p-1.5 outline-none"
            id="user-menu-button"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="sr-only">Open user menu</span>
            <img class="size-8" [src]="userImage$ | async" alt="" />
            <span class="hidden desktop:flex desktop:items-center">
              <span
                class="ml-4 text-sm/6 font-semibold text-gray-900 group-focus:underline"
                aria-hidden="true"
                >{{ userName$ | async }}</span
              >
              <div class="ml-2 size-6 text-gray-400">
                <i class="fa-light fa-chevron-down fa-fw fa-lg"></i>
              </div>
            </span>
          </button>
        </ng-template>
        <ng-template #menu>
          <button
            (click)="logout()"
            class="block w-full text-left px-3 py-1 text-sm/6 text-gray-700 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none cursor-pointer text-nowrap"
            role="menuitem"
            id="user-menu-item-1"
          >
            Log out
          </button>
        </ng-template>
      </tt-dropdown>
      } @else {
      <tt-dropdown>
        <ng-template #trigger>
          <button
            type="button"
            class="-m-1.5 flex items-center p-1.5 text-gray-400 hover:text-gray-500"
            id="user-menu-button"
            aria-expanded="false"
            aria-haspopup="true"
          >
            <span class="sr-only">Open user menu</span>
            <div class="size-6">
              <i class="fa-light fa-user fa-fw fa-lg"></i>
            </div>
          </button>
        </ng-template>
        <ng-template #menu>
          <button
            (click)="login()"
            class="block w-full text-left px-3 py-1 text-sm/6 text-gray-700 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none cursor-pointer text-nowrap"
            role="menuitem"
            id="user-menu-item-1"
          >
            Log in
          </button>
          <button
            (click)="register()"
            class="block w-full text-left px-3 py-1 text-sm/6 text-gray-700 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none cursor-pointer text-nowrap"
            role="menuitem"
            id="user-menu-item-1"
          >
            Sign up
          </button>
        </ng-template>
      </tt-dropdown>

      }
    </div>
  </div>
</div>
