<div
  class="h-18 flex shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-xs tabket:gap-x-6 tabket:px-6 desktop:px-8"
>
  <button type="button" class="-m-2.5 p-2.5 text-gray-700 desktop:hidden">
    <span class="sr-only">Open sidebar</span>
    <div class="size-6">
      <i class="fa-light fa-bars fa-fw fa-lg"></i>
    </div>
  </button>

  <!-- Separator -->
  <div class="h-6 w-px bg-gray-900/10 desktop:hidden" aria-hidden="true"></div>

  <div class="flex flex-1 gap-x-4 self-stretch desktop:gap-x-6">
    <form class="grid flex-1 grid-cols-1" action="#" method="GET">
      <input
        type="search"
        name="search"
        aria-label="Search"
        class="col-start-1 row-start-1 block size-full bg-white pl-8 text-base text-gray-900 outline-hidden placeholder:text-gray-400 desktop:text-sm/6"
        placeholder="Search"
      />
      <div
        class="pointer-events-none col-start-1 row-start-1 size-6 self-center text-gray-400"
      >
        <i class="fa-light fa-search fa-fw fa-lg"></i>
      </div>
    </form>

    <div class="flex items-center gap-x-4 desktop:gap-x-6">
      <button
        type="button"
        class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500"
      >
        <span class="sr-only">View notifications</span>
        <div class="size-6">
          <i class="fa-light fa-bell fa-fw fa-lg"></i>
        </div>
      </button>

      <!-- Separator -->
      <div
        class="hidden desktop:block desktop:h-6 desktop:w-px desktop:bg-gray-900/10"
        aria-hidden="true"
      ></div>

      <!-- Profile dropdown -->
      @if(isLoggedIn$ | async) {
      <tt-dropdown alignment="right">
        <button
          ngProjectAs="trigger"
          type="button"
          class="group -m-1.5 flex items-center p-1.5 outline-none"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
        >
          <span class="sr-only">Open user menu</span>
          <tt-avatar
            [profile]="userProfile$ | async"
            [withText]="(breakpoint$ | async) == 'desktop'"
          />
        </button>
        <div ngProjectAs="menu">
          <tt-dropdown-item (clicked)="logout()" icon="right-from-bracket">
            Log out
          </tt-dropdown-item>
        </div>
      </tt-dropdown>
      } @else {
      <tt-dropdown alignment="right">
        <button
          ngProjectAs="trigger"
          type="button"
          class="group -m-1.5 flex items-center p-1.5 outline-none"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
        >
          <span class="sr-only">Open user menu</span>
          <tt-avatar size="sm" />
        </button>
        <div ngProjectAs="menu">
          <tt-dropdown-item (clicked)="login()" icon="right-to-bracket">
            Log in
          </tt-dropdown-item>
          <tt-dropdown-item (clicked)="register()" icon="user-plus">
            Sign up
          </tt-dropdown-item>
        </div>
      </tt-dropdown>
      }
    </div>
  </div>
</div>
