@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudAlert Severity="Severity.Warning">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</MudAlert>

Welcome to your new app.