<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->

<div
  class="hidden desktop:block desktop:w-20 desktop:overflow-y-auto desktop:bg-gray-900 desktop:pb-4"
>
  <div class="flex h-18 shrink-0 items-center justify-center">
    <img
      class="h-18 w-auto"
      src="/assets/img/logo-2-color.png"
      alt="Tavern Trashers"
    />
  </div>
  <nav class="mt-8">
    <ul role="list" class="flex flex-col items-center space-y-1">
      <li>
        <tt-side-nav-link
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          label="Dashboard"
          iconClass="fa-light fa-house fa-fw fa-xl"
        ></tt-side-nav-link>
      </li>

      <li>
        <tt-side-nav-link
          routerLink="/campaigns"
          label="Campaigns"
          iconClass="fa-light fa-books fa-fw fa-xl"
        ></tt-side-nav-link>
      </li>
      <li>
        <tt-side-nav-link
          routerLink="/rolls"
          label="Rolls"
          iconClass="fa-light fa-dice-d20 fa-fw fa-xl"
        ></tt-side-nav-link>
      </li>
    </ul>
  </nav>
</div>
