<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->

<div
  class="hidden desktop:block desktop:w-20 desktop:overflow-y-auto desktop:bg-gray-900 desktop:pb-4"
>
  <div class="flex h-18 shrink-0 items-center justify-center">
    <img
      class="h-18 w-auto"
      src="/assets/img/logo-2-color.png"
      alt="Tavern Trashers"
    />
  </div>
  <nav class="mt-8">
    <ul role="list" class="flex flex-col items-center space-y-1">
      <li>
        <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
        <a
          routerLink="/"
          class="group flex gap-x-3 rounded-md bg-gray-800 p-3 text-sm/6 font-semibold text-white"
        >
          <div class="size-6 shrink-0">
            <i class="fa-regular fa-house fa-fw fa-xl"></i>
          </div>
          <span class="sr-only">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/campaigns"
          class="group flex gap-x-3 rounded-md p-3 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white"
        >
          <div class="size-6 shrink-0">
            <i class="fa-regular fa-books fa-fw fa-xl"></i>
          </div>
          <span class="sr-only">Campaigns</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
