<span
  [class]="`inline-flex items-center gap-x-1.5 ${sizeClasses} ${borderRadiusClasses} ${colorClasses}  text-xs font-medium ring-inset`"
>
  @if(dot) {
  <svg
    [class]="`size-1.5 aspect-square ${dotColorClasses}`"
    viewBox="0 0 6 6"
    aria-hidden="true"
  >
    <circle cx="3" cy="3" r="3" />
  </svg>
  }
  {{ text }}
  @if(dismissable) {
  <button
    type="button"
    [class]="`flex items-center justify-center group relative -mr-1 size-3.5 ${dismissButtonColorClasses} ${dismissButtonShapeClasses} focus:outline-none`"
    (click)="onDismiss()"
  >
    <span class="sr-only">Dismiss badge</span>
    <i class="fa-light fa-close aspect-square"></i>
  </button>
  }
</span>
