<button
  type="button"
  (click)="onClick($event)"
  [class]="`group inline-flex items-center ${shapeClasses} ${colorClasses} font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2`"
>
  @if(icon) {
  <div class="size-5">
    <i [class]="`fa-light fa-${icon} fa-fw`"></i>
  </div>
  } @else { @if(leadingIcon) {
  <div [class]="`-ml-0.5 size-5 ${iconColorClasses}`">
    <i [class]="`fa-light fa-${leadingIcon}`"></i>
  </div>
  }
  {{ text }}
  @if(trailingIcon) {
  <div [class]="`-mr-0.5 size-5 ${iconColorClasses}`">
    <i [class]="`fa-light fa-${trailingIcon} fa-fw`"></i>
  </div>
  } }
</button>
