<app-layout>
  <div class="h-full flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold mb-4">Welcome to Tavern Trashers!</h1>
    <p class="mb-8 text-lg">
      Your companion for managing campaigns, players, and characters.
    </p>
    <div class="flex space-x-4">
      <div class="flex space-x-4">
        <button
          (click)="login()"
          class="px-6 py-3 bg-blue-500 text-white rounded hover:bg-blue-600"
        >
          Log In
        </button>
      </div>
      <div class="flex space-x-4">
        <button
          (click)="logout()"
          class="px-6 py-3 bg-red-500 text-white rounded hover:bg-red-600"
        >
          Log Out
        </button>
      </div>
    </div>
    {{ (auth$ | async)?.user?.email }}
  </div>
</app-layout>
